.formContainer {
  background-color: #c6dabe;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./media/background.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.formTitle {
  font-family: Comfortaa Bold;
  color: white;
  font-size: 2.3em;
  border: white;
}

form {
  background-color: #186e8b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Comfortaa Bold;
  border-radius: 25px;
  border: solid white 0.3em;
  box-shadow: 5px 5px 8px #004d21;
}

.newItemForm {
  width: 28em;
  height: 25em;
}

.inputs {
  margin: 5%;
  margin-bottom: 0;
}

input {
  width: 23em;
  margin: 0.5em;
  border-radius: 17px;
  border: 0;
  font-size: 1em;
  align-self: center;
  padding: 3px;

}

form input[type="email"],
input[type="password"],
input[type="text"]
 {
  padding-left: 0.5em;
}


select {
  height: 1.9em;
  margin: 0.5em;
  border-radius: 17px;
}

div.inputs {
  display: flex;
  flex-direction: column;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7em;
  height: 2em;
  border: solid white 2px;
  background-color: #98bd89;
  color: white;
  font-family: Comfortaa Bold;
  font-size: 1.1em;
  margin-bottom: 1em;
  padding: 0.4em;
}

label {
  color: white;
  font-size: larger;
  padding-left: 7px;
}

.button:hover {
  background-color: white;
  color: #186e8b;
  cursor: pointer;
}

.imageUpload {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 6em;
}

button.button1 {
  height: 2em;
  width: 7em;
  margin-bottom: 1em;
}
