.singleItem {
  width: 15em;
  height: 20em;
  overflow: scroll;
  margin: 1em;
  border: solid #186e8b 0.3em;
  padding: 5px;
  padding-left: 10px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 1px 5px 8px #0A2900;
}

.singleItem:hover {
  background-color: #c9e265;
  border: solid white 0.3em;
}
.itemName {
  color: #186e8b;
  font-family: Comfortaa Bold;
}

.itemName:hover {
  color: white;
  cursor: pointer;
}

.allItemsContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 50px 25px 50px;
  align-items: center;
  justify-content: center;
  padding-bottom: .5em;
}

.itemsContainer {
  min-height: 100vh;
  overflow: scroll;
  background-color: #c6dabe;
  background-image: url("./media/background2.svg");
  background-attachment: fixed;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: Comfortaa Bold;
  color: white;
  font-size: 2.5em;
  margin-top: 0;
}

 a.itemName {
  max-width: 1em;
}

img {
  max-width: 8em;
  padding: .5em;
}

input.search {
width: 12em;
border: solid white 2px;
box-shadow: 1px 5px 8px #0A2900;
border: solid white 0.2em;
}

.searchContainer {
  width: 75%;
  display: flex;
  height: 3em;
  justify-content: flex-end;
  padding-top: 5px;

}
  h4 {
    font-family: Comfortaa;
  }

 