.navContainer {
  background-color: #186e8b;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 5px;
  box-shadow: 0px 3px 7px #0a2900;
}

.links {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;

}

.navTitle {
  color: white;
  margin: 0;
  font-family: Warung;
  font-size: 2.4em;
}

a {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  font-family: Comfortaa;
}

a:hover {
  color: #98bd89;
  font-family: Comfortaa Bold;
  cursor: pointer;
}


@font-face {
  font-family: Comfortaa;
  src: url("../styles/fonts/Comfortaa-Regular.ttf");
}

@font-face {
  font-family: Comfortaa Bold;
  src: url("../styles/fonts/Comfortaa-Bold.ttf");
}

@font-face {
  font-family: Warung;
  src: url("../styles/fonts/Warung\ Kopi\ Bold.otf");
}

.logo {
  max-height: 3.5em;
  margin: 1.5%;
}

nav img {
  max-width: 50px;
}
nav .profile{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: contain;
  border: 3px solid #EAE6F6;
  cursor: pointer;
}
nav ul {
  position: absolute;
  top: 40px;
  right: 45px;
  padding: 1rem 3rem 1rem 1.5rem;
  list-style: none;
  border-radius: 10px;
  font-size: 15px;    
  box-shadow: 2px 5px 10px 2px rgba(0, 0, 0, 0.1);
}

li {
  width: 100%;
}




nav ul li:hover {
  background-color: #186E8B;
}

.dropdown {
  display: none;
}

nav #user-menu{
  background-color: #186E8B;
}

#user-menu a {
  color: #fff;
}

#user-menu button {
  background: none;
  border: none;
  color: #186E8B;
  font-size: 20px;
  text-align: right;
  margin-left: 0.5rem;
  font-family: Mulish;
}
